
# Ignore everything
*

# Unignore directories (to all depths) and unignore code and style files in these directories
!.github/**/
!.vscode/**/
!src/**/

!**/*.js
!**/*.jsx
!**/*.css
!**/*.html
!**/*.md
!**/*.json
